body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    cursor: none;
    color: white;
}

/* Custom cursor */
.cursor-dot {
    width: 7px;
    height: 7px;
    background-color: white;
}

.cursor-outline {
    width: 17px;
    height: 17px;
    border: 3px solid hsla(0, 0%, 100%, 0.5);
}

.cursor-dot, 
.cursor-outline {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
    pointer-events: none;
}


.container {
    text-align: center;
    color: white;
    position: relative;
}

#typewriter {
    font-size: 4em;
    position: relative;
    top: 50%; /* Adjust this value for vertical positioning */
    transform: translateY(-50%); /* Center the content vertically */

}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

/* Customize text selection highlight */
::selection {
    background-color: #777;
    transition: background-color 1s ease-in; 
    pointer-events: painted;
}